.courseMainPage{
    display: flex;
    flex-direction: column;

    .data{
        margin: 15px 20px;
        h2{
            padding-bottom: 25px;
        }
        .link{
            display: flex;
            border: 1px solid rgba(0,0,0,0.5);
            gap: 20px;
            transition: 0.2s ease-in-out;
            &:hover{
                border: 1px solid rgba(0,0,0,0.8);
            }
        }
    }
}