.main{
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 12px 18px;
    .upload{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 800px;
        .textField{
            margin: 25px 0px;
        }
        input{
            padding: 4px 6px;
        }

        button{
            padding: 6px 12px;
        }

        p{
            color: green
        }
    }
}