.videoModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:  center;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 80vw;
  border: 2px solid #000;
  overflow-y: scroll;
  text-align: center;
  .frameDiv{
    width: 100%;
  }
  video{
    text-align: center;
    margin-top: 20px;
  }
}
